/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */



.playerBG {

  background-image: -webkit-linear-gradient(top, #cc6800 0%,#cc9800 100%);

}

.img-container {
  width: 80px;
}

/* cd mitte kleiner weißer kreis */
.img-container::after {
  content: '';
  /* background-color: #fff;  */
  background-color: transparent;
 
  border-radius: 50%;
  position: absolute;
  bottom:5px;
  left: 45px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 80px;
  width: inherit;
  position: absolute;
  top: -45px;
  left: 5px;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

 .img-container.play img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.action-btn {
  background-color:transparent;
  border: 0;
  color:  white;
  font-size: 15px;
  cursor: pointer;
  margin-left: 2px;
}

.action-btn.action-btn-big {
  color: white;
  font-size: 15px;
}

.action-btn:focus {
  outline: 0;
}

#currTime,#durTime {

  font-size:10px; 
  color:white;
}
.progress-container {
  background: #fff;
  background: black;
  border: solid 2px #FFCC33;
  cursor: pointer;
  margin-left:5px;
  margin-right:5px;
  margin-top:9px;
  height:7px;
  width: 50%;
}

.progress {
  background-color: white;
  border-radius: 0px;
  height: 4px;
  width: 0px;
  transition: width 0.1s linear;
}
